<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Selection</title>
</head>
<body>
<h1>Customer selection</h1>
<form method="post" th:action="@{/selection/getCustomers}">
    <label>Lastname:</label>
    <input type="text" th:name="filterType" th:onchange="submit()"/>
    <br/>
</form>
<form method="post" th:action="@{/selection/showCustomerOverview}">
    <table>
        <tr th:each="customer: ${customerList}">
            <td><input type="radio" th:onchange="submit()" th:name="customerId" th:value="${customer.customerId}"/></td>
            <td><span th:text="${customer.lastname} + ', ' + ${customer.firstname}">CUSTOMER NAME</span></td>
        </tr>
    </table>
</form>

</body>
</html>