<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeDB</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="heading">
    <h2>EmployeeDB</h2>
</div>

<div class="menuContainer">
    <div class="menu">
        <form class="buttonContainer" method="post" th:action="@{/employee/getEmployees}" th:object="${selectedDepartment}">
            <select class="buttonStyleLeft" th:field="*{deptName}">
                <option th:each="department: ${departments}" th:text="${department}" th:value="${department}">DEPARTMENT</option>
            </select>
            <button class="buttonStyleRight">Submit</button>
        </form>
        <form class="buttonContainer" method="post" th:action="@{/employee/sortAddEmployee}">
            <button class="buttonStyleLeft" name="buttonText" value="sort">Sort</button>
            <button class="buttonStyleRight" name="buttonText" value="create">Create Employee</button>
        </form>
    </div>
</div>

<form method="post" th:action="@{/employee/removeEmployee}" th:object="${selectedEmployee}">
    <div class="menuContainer">
        <div class="menu">
            <div class="header">
                <span class="empno">Empno</span>
                <span class="firstname">Firstname</span>
                <span class="lastname">Lastname</span>
                <span class="gender">Gender</span>
                <span class="dateOfBirth">Birthdate</span>
                <span class="remove">Remove?</span>
            </div>
            <div class="employeeList" th:each="employee: ${employees}">
                <span class="empno" th:text="${employee.employeeNo}">EMP_NO</span>
                <span class="firstname" th:text="${employee.firstname}">FIRSTNAME</span>
                <span class="lastname" th:text="${employee.lastname}">LASTNAME</span>
                <span class="gender" th:text="${employee.gender.name().charAt(0)}">GENDER</span>
                <span class="dateOfBirth" th:text="${employee.dateOfBirth}">BIRTHDATE</span>
                <input class="remove" type="checkbox" th:onclick="submit()" th:value="${employee.employeeNo}" th:field="*{employeeNo}"/>
            </div>
        </div>

    </div>
</form>

</body>
</html>